@{
    ViewBag.Title = "打印ERP单据";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
    var printIP = System.Web.HttpContext.Current.Session["printIP"];
}

<style type="text/css">
    .layui-container {
        width: 100% !important;
    }

    .marginleft {
        margin-left: 20px;
        font-size: 16px;
    }

    .lab100 {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 5px;
        margin-right: 10px;
    }
</style>

<input type="hidden" id="printIP" value="@printIP" />
<input type="hidden" id="user" name="user" value="@HttpContext.Current.Request.Cookies["userinfo"]["UserNo"].ToString()" />
<div class="box">
    <div class="layui-card-body layui-table-body layui-table-main">
        <div class="layui-card-body">
            <div class="layui-inline">
                <label class="layui-form-label lab100">ERP单号</label>
                <div class="layui-inline layui-show-xs-block">
                    <input type="text" id="ErpVoucherNo" name="ErpVoucherNo" autocomplete="off" class="layui-input txt200">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label lab100">物料编码</label>
                <div class="layui-inline layui-show-xs-block">
                    <input type="text" id="MaterialNo" name="MaterialNo" autocomplete="off" class="layui-input txt200">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label lab100">规格</label>
                <div class="layui-inline layui-show-xs-block">
                    <input type="text" id="spec" name="spec" autocomplete="off" class="layui-input txt200">
                </div>

            </div>
            <div class="layui-inline layui-show-xs-block">
                <button id="Query" class="btn btn-primary" lay-submit="" lay-filter="sreach" style="margin-top: -15px;"><i class="layui-icon">&#xe615;</i></button>
            </div>
        </div>
        <table class="layui-hide" id="demo" lay-filter="test"></table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        </script>
    </div>

    <div class="layui-card-body layui-table-body layui-table-main">
        <div class="layui-card-body" style="padding:2px 2px;">
            <input type="hidden" id="Rowno" name="Rowno" />
            <div class="layui-inline">
                <label class="layui-form-label lab100">物料编码</label>
                <div class="layui-input-inline">
                    <input type="text" id="Materialno1" name="Materialno1" autocomplete="off" class="layui-input txt200" readonly="readonly">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label lab100">物料描述</label>
                <div class="layui-input-inline">
                    <input type="text" id="Materialdesc1" autocomplete="off" class="layui-input txt200" readonly="readonly">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label lab100">番号</label>
                <div class="layui-input-inline">
                    <input type="text" id="Batchno1" autocomplete="off" class="layui-input txt200" readonly="readonly">
                </div>
            </div>
        </div>
        <div class="layui-card-body" style="padding:2px 2px;">
            <div class="layui-inline">
                <label class="layui-form-label lab100">本批次数量</label>
                <div class="layui-input-inline">
                    <input type="number" id="VoucherQty1" autocomplete="off" class="layui-input txt200">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label lab100">装箱量</label>
                <div class="layui-input-inline">
                    <input type="number" id="EveryQty1" autocomplete="off" class="layui-input txt200">
                </div>
            </div>
            <div class="layui-inline" style="margin-left:60px;">
                <button id="Print" class="btn btn-primary" style="margin-top: -15px;">打 印</button>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['laydate', 'laypage', 'layer', 'table'], function () {
        laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格

        renderTable();

        //表格初始化
        function renderTable() {
            table.render({
                elem: '#demo'
                , height: 435
                , url: '/printInstock/GetData' //数据接口
                , method: 'post'
                , contentType: 'application/json'
                , where: {
                    model: {
                        ErpVoucherNo: $('#ErpVoucherNo').val().trim(),
                        spec: $('#spec').val().trim(),
                        MaterialNo: $('#MaterialNo').val().trim()
                    }
                }
                , request: {
                    pageName: 'PageNumber'
                    , limitName: 'PageSize'
                }
                , title: '打印'
                , page: true //开启分页
                , toolbar: false
                , totalRow: false
                , cols: [
                    [
                        { field: 'RowNo', title: '行号', width: 70, fixed: 'left' }
                        , { field: 'ErpVoucherNo', title: 'ERP单号', width: 160 }
                        , { field: 'MaterialNo', title: '物料号', width: 100 }
                        , { field: 'MaterialDesc', title: '物料描述', width: 170 }
                        , { field: 'Unit', title: '单位', width: 100 }
                        , { field: 'InStockQty', title: '单据数', width: 80 }
                        , { field: 'ReceiveQty', title: '收货数', width: 80 }
                        , { field: 'RemainQty', title: '剩余数', width: 80 }
                        , { field: 'spec', title: '规格', width: 200 }
                        , { field: 'FromBatchNo', title: '番号', width: 100 }
                        , { fixed: 'right', title: '操作', width: 150, align: 'center', toolbar: '#barDemo' }
                    ]
                ]
                , request: {
                    pageName: 'CurrentPageNumber'
                    , limitName: 'CurrentPageShowCounts'
                }
                , response: {
                    statusCode: 1
                }
                , parseData: function (res) {
                    return {
                        "code": res.Result,
                        "msg": res.ResultValue,
                        "count": res.PageData.totalCount,
                        "data": res.Data
                    };
                }
            });
        }

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            PurObject = obj.data;
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'edit') {
                if (data.Towarehouseno == "") {
                    layer.alert("当前行的仓库为空，不能做打印操作！");
                    return false;
                }
                $('#Materialno1').val(data.MaterialNo);
                $('#Materialdesc1').val(data.MaterialDesc);
                $('#Batchno1').val(data.FromBatchNo);
                $('#Rowno1').val(data.RowNo);
                $('#VoucherQty1').val(data.RemainQty);
                $('#EveryQty1').val(data.RemainQty);
            }
        });

        //分页
        laypage.render({
            elem: 'pageDemo' //分页容器的id
            , count: 100 //总页数
            , skin: '#1E9FFF' //自定义选中色值
            //,skip: true //开启跳页
            , jump: function (obj, first) {
                if (!first) {
                    layer.msg('第' + obj.curr + '页', { offset: 'b' });
                }
            }
        });

        //查询
        $('#Query').click(function () {
            renderTable();
        });

        //打印
        var PurObject
        $('#Print').click(function () {
            if ((Number($('#VoucherQty1').val()) / Number($('#EveryQty1').val())) > 200) {//限制打印张数不能超过200张
                layer.alert("限制打印张数不能超过200张！");
                return false;
            }
            PurObject.Voucherqty = Number($('#VoucherQty1').val());
            PurObject.EveryQty = $('#EveryQty1').val();
            PurObject.Userno = $('#user').val();
            PurObject.num = $('#VoucherQty1').val();
            $.post("/PrintIn/SaveBarcode", { data: JSON.stringify(PurObject) }, function (msg) {
                if (msg.state) {
                    openPostWindow($("#printIP").val() + "Main.aspx", "stock", msg.obj);
                    return false;
                }
                layer.alert(msg.ResultValue);
            });
        })

        //回车事件绑定
        $("input").bind('keyup', function (event) {
            if (event.keyCode == "13") {
                renderTable();
            }
        });
    });

    function openPostWindow(url, keys, values) {
        var newWindow = window.open(url, name);
        if (!newWindow)
            return false;
        var html = "";
        html += "<html><head></head><body><form id='formid' method='post' action='" + url + "'>";
        if (keys && values) {
            html += "<input type='hidden' name='" + keys + "' value='" + values + "'/>";
        }
        html += "</form><script type='text/javascript'>document.getElementById('formid').submit();";
        html += "<\/script></body></html>".toString().replace(/^.+?\*|\\(?=\/)|\*.+?$/gi, "");
        newWindow.document.write(html);
        return newWindow;
    };
</script>
<script src="~/Content/SCG/js/Common/Operate.js"></script>


