@{
    ViewBag.Title = "出入库明细";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
}

<div class="box">
    <div class="layui-card-body layui-table-body layui-table-main">
        <div class="layui-card-body">
            <div class="layui-inline layui-show-xs-block">
                <input id="MATERIALNO" class="layui-input" placeholder="物料号">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="SERIALNO" class="layui-input" placeholder="序列号">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="StrongHoldCode" class="layui-input" placeholder="据点">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="BATCHNO" class="layui-input" placeholder="批次号">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="FROMWAREHOUSENO" class="layui-input" placeholder="仓库">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="FROMHOUSENO" class="layui-input" placeholder="库区">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="FROMAREANO" class="layui-input" placeholder="库位">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="ERPVOUCHERNO" class="layui-input" placeholder="ERP单号">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="begintime" class="layui-input" placeholder="开始时间">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <select name="city" lay-verify="required">
                    <option value=""></option>
                    <option value="0">北京</option>
                    <option value="1">上海</option>
                </select>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <select name="city" lay-verify="required">
                    <option value=""></option>
                    <option value="0">北京</option>
                    <option value="1">上海</option>
                </select>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button id="Query" class="btn btn-primary">
                    查询<i class="layui-icon layui-icon-search" style="padding-left:5px;"></i>
                </button>
            </div>
        </div>
        <table class="layui-table layui-form" id="transTable"></table>
    </div>
</div>

<script>

    layui.use(['laypage', 'layer', 'table'], function () {
        table = layui.table
            , laydate = layui.laydate
            , laypage = layui.laypage
            , layer = layui.layer

        laydate.render({
            elem: '#begintime'
        });

        tableInit();

        //表格初始化
        function tableInit() {
            table.render({
                elem: '#transTable'
                , height: 510
                , url: '/TaskTrans/GetData'
                , method: 'post'
                , contentType: 'application/json'
                , where: {
                    model: {
                        MATERIALNO: $("#MATERIALNO").val().trim(),
                        ERPVOUCHERNO: $("#ERPVOUCHERNO").val().trim(),
                        begintime: $("#begintime").val().trim(),
                        BATCHNO: $("#BATCHNO").val().trim(),
                        SERIALNO: $("#SERIALNO").val().trim(),
                        StrongHoldCode: $("#StrongHoldCode").val().trim(),
                        FROMWAREHOUSENO: $("#FROMWAREHOUSENO").val().trim(),
                        FROMHOUSENO: $("#FROMHOUSENO").val().trim(),
                        FROMAREANO: $("#FROMAREANO").val().trim()
                    }
                }
                , request: {
                    pageName: 'CurrentPageNumber'
                    , limitName: 'CurrentPageShowCounts'
                }
                , title: '出入库明细'
                , page: true
                , toolbar: 'false'
                , cols: [
                    [
                        { type: 'numbers', title: '序号', width: 60, fixed: 'left' }
                        , { field: 'ERPVOUCHERNO', title: 'ERP单号', width: 200 }
                        , { field: 'StrongHoldCode', title: '据点', width: 100 }
                        , { field: 'MATERIALNO', title: '物料号', width: 100 }
                        , { field: 'MATERIALDESC', title: '物料名称', width: 100 }
                        , { field: 'SERIALNO', title: '序列号', width: 200 }
                        , { field: 'QTY', title: '数量', width: 100 }
                        , { field: 'BATCHNO', title: '批次号', width: 100 }
                        , { field: 'FROMWAREHOUSENO', title: '来源仓库', width: 100 }
                        , { field: 'FROMHOUSENO', title: '来源库区', width: 100 }
                        , { field: 'FROMAREANO', title: '来源库位', width: 100 }
                        , { field: 'TOWAREHOUSENO', title: '目标仓库', width: 100 }
                        , { field: 'TOHOUSENO', title: '目标库区', width: 100 }
                        , { field: 'TOAREANO', title: '目标库位', width: 100 }
                        , { field: 'StatusName', title: '状态', width: 100 }
                        , { field: 'TASKNO', title: '任务号', width: 200 }
                        , { field: 'tasktypename', title: '类型', width: 100 }
                        , { field: 'CREATETIME', title: '创建时间', width: 200, sort: true }
                        , { field: 'CREATER', title: '创建人', width: 100, }
                    ]
                ]
                , response: {
                    statusCode: 1
                }
                , parseData: function (res) {
                    return {
                        "code": res.Result,
                        "msg": res.ResultValue,
                        "count": res.PageData.totalCount,
                        "data": res.Data
                    };
                }
            });
        }

        //分页
        laypage.render({
            elem: 'pageDemo' //分页容器的id
            , count: 100 //总页数
            , skin: '#1E9FFF' //自定义选中色值
            , jump: function (obj, first) {
                if (!first)
                    layer.msg('第' + obj.curr + '页', { offset: 'b' });
            }
        });

        //查询
        $('#Query').click(function () {
            tableInit();
        });

        //回车事件绑定
        $("input").bind('keyup', function (event) {
            if (event.keyCode == "13")
                tableInit();
        });
    });

</script>