@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
}
<div style="padding:10px;">
    <form class="layui-form" action="">
        <input type="hidden" id="line" />
        <div class="layui-form-item">
            <label class="layui-form-label">产线名称</label>
            <div class="layui-input-block">
                <input type="text" name="LineName" required lay-verify="required" placeholder="请输入产线名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
                <button type="reset" id="cancle" class="layui-btn layui-btn-primary">取消</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    layui.use(['form'], function () {
        var form = layui.form;

        //提交
        form.on('submit(formDemo)', function () {
            let index = parent.layer.getFrameIndex(window.name);
            let line = $("#line").val() == "" ? {} : JSON.parse($("#line").val());
            line.LineName = $('input[name="LineName"]').val();
            $.post("/Line/Submit", line, function (res) {
                layer.alert(res.Msg);
                if (!res.Success)
                    return false;
                parent.layer.close(index);
                parent.$("#refresh").click();
            });
            return false;
        });

        //取消
        $("#cancle").click(function () {
            let index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });
    });
</script>

