@{
    ViewBag.Title = "CheckRecordOut";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
    string strongHoldCode = (string)ViewBag.strongHoldCode;
}
<style type="text/css">
    #formOutExcel > Button > a {
        color: white;
    }

        #formOutExcel > Button > a:hover {
            text-decoration: none;
            color: white;
        }
</style>
<div class="box">
    <div class="layui-card-body layui-table-body layui-table-main">
        <div class="layui-card-body">
            <div class="layui-inline layui-show-xs-block">
                <input id="OrderNo" class="layui-input" placeholder="生产单号">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="StartDate" class="layui-input" placeholder="开始时间">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="EndDate" class="layui-input" placeholder="结束时间">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button id="Query" class="btn btn-primary">查询</button>
                <a href="/QualityDetail/GetModelList" class="btn btn-primary">新增</a>
            </div>
        </div>
        <table class="layui-hide" id="checkRecordTable" lay-filter="init"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <form asp-controller="QualityDetailController" asp-action="QualityDetail" id="formOutExcel">
                    <a href="###" class="layui-btn layui-btn-sm" lay-event="outExcel">
                        <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                        导出EXCEL
                    </a>
                </form>
            </div>
        </script>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
        </script>
    </div>
</div>

<script type="text/javascript">
    layui.use(['laydate', 'laypage', 'layer', 'table'], function () {
        table = layui.table //表格
            , laydate = layui.laydate
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层

        laydate.render({
            elem: '#StartDate'
        });

        laydate.render({
            elem: '#EndDate'
        });

        //表格初始化
        function tableInit() {
            let isThreeDepart = "@strongHoldCode"== "0403" ? true : false;
            table.render({
                elem: '#checkRecordTable'
                , height: 520
                , url: '/QualityDetail/GetOrderList' //数据接口
                , method: 'post'
                , contentType: 'application/json'
                , where: {
                    OrderNo: $("#OrderNo").val().trim(),
                    StartDate: $("#StartDate").val().trim(),
                    EndDate: $("#EndDate").val().trim()
                }
                , response: {
                    statusCode: 1 //重新规定成功的状态码为 200，table 组件默认为 0
                }
                , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.Result, //解析接口状态
                        "msg": res.ResultValue, //解析提示文本
                        "count": res.PageData.totalCount, //解析数据长度
                        "data": res.Data //解析数据列表
                    };
                }
                , title: '库位'
                , page: true //开启分页
                , toolbar: '#toolbarDemo'
                , defaultToolbar: ['filter', 'print']
                //, totalRow: true //开启合计行
                , cols: [[ //表头
                    { type: 'numbers', title: '序号', width: 60, fixed: 'left' }//序号列
                    , { field: 'SaveTimeString', title: '日期', width: 100, }

                    , { field: 'ErpVoucherNo', title: '制令号', width: 150,hide: !isThreeDepart }
                    , { field: 'CustomerName', title: '客户名称', width: 200,hide: !isThreeDepart }
                    , { field: 'spec', title: '型号规格', width: 180, hide: !isThreeDepart }
                    , { field: 'CheckQty', title: '首检送检数', width: 120, hide: !isThreeDepart }
                    , { field: 'RecordNoQualityQty', title: '不合格数', width: 100, hide: !isThreeDepart }
                    , { field: 'PassRateAll', title: '首检合格率%', width: 120, hide: !isThreeDepart }
                    , { field: 'BackQualityQty', title: '复检送检数', width: 120, hide: !isThreeDepart }
                    , { field: 'RecordQualityQty', title: '合格数', width: 80, hide: !isThreeDepart }
                    , { field: 'BackQualityQty', title: '复检合格数', width: 100, hide: !isThreeDepart }
                    , { field: 'PassRate', title: '本次合格率%', width: 120, hide: !isThreeDepart }
                    , { field: 'Sensei', title: '外观掉漆', width: 80, hide: !isThreeDepart }
                    , { field: 'Scratch', title: '外观划伤', width: 80, hide: !isThreeDepart }
                    , { field: 'Bruise', title: '外观磕碰伤', width: 100, hide: !isThreeDepart }
                    , { field: 'Speckle', title: '外观污迹', width: 80, hide: !isThreeDepart }
                    , { field: 'DownEdge', title: '外观塌边', width: 80, hide: !isThreeDepart }
                    , { field: 'Rust', title: '外观锈迹', width: 80, hide: !isThreeDepart }
                    , { field: 'MissedProcess', title: '外观漏工序', width: 100, hide: !isThreeDepart }
                    , { field: 'Decibel', title: '噪音分贝', width: 80, hide: !isThreeDepart }
                    , { field: 'Dot', title: '噪音打点', width: 80, hide: !isThreeDepart }
                    , { field: 'Disaccord', title: '噪音不一致', width: 100, hide: !isThreeDepart }
                    , { field: 'Noise', title: '噪音杂音', width: 80, hide: !isThreeDepart}
                    , { field: 'CardPoint', title: '卡点卡顿', width: 80, hide: !isThreeDepart }
                    , { field: 'ShaftTight', title: '运转轴紧', width: 80, hide: !isThreeDepart }
                    , { field: 'Shake', title: '运转抖动', width: 80, hide: !isThreeDepart }
                    , { field: 'OutputSize', title: '输出尺寸', width: 80, hide: !isThreeDepart }
                    , { field: 'InPutSize', title: '输入尺寸', width: 80, hide: !isThreeDepart }
                    , { field: 'NeglectedLoading', title: '装配漏装', width: 80, hide: !isThreeDepart}
                    , { field: 'NotInPlace', title: '装配不到位', width: 100, hide: !isThreeDepart }
                    , { field: 'Others', title: '其他原因', width: 80, hide: !isThreeDepart }
                    , { field: 'Minute', title: '精度弧分', width: 80, hide: !isThreeDepart }

                    , { field: '', title: '流水线班组', width: 150, hide: isThreeDepart }
                    , { field: 'ErpVoucherNo', title: '单据编号', width: 150, hide:  isThreeDepart }
                    , { field: 'CustomerName', title: '客户名称', width: 200, hide:  isThreeDepart }
                    , { field: 'spec', title: '电机型号/规格', width: 180, hide: isThreeDepart }
                    , { field: 'CheckQty', title: '首检交检数', width: 120, hide: isThreeDepart }
                    , { field: 'RecordNoQualityQty', title: '不合格数', width: 100, hide: isThreeDepart }
                    , { field: 'PassRateAll', title: '首检合格率%', width: 120, hide: isThreeDepart }
                    , { field: 'BackQualityQty', title: '复检交检数', width: 120, hide: isThreeDepart }
                    , { field: 'RecordQualityQty', title: '合格数', width: 80, hide: isThreeDepart }
                    , { field: 'BackQualityQty', title: '复检合格数', width: 120, hide: isThreeDepart }
                    , { field: 'PassRate', title: '本次合格率%', width: 120, hide: isThreeDepart }
                    , { field: 'Sensei', title: '外观掉漆', width: 80, hide: isThreeDepart }
                    , { field: 'Scratch', title: '外观碰划伤', width: 100, hide: isThreeDepart }
                    , { field: 'Burning', title: '外观氧化', width: 80, hide:  isThreeDepart }
                    , { field: 'Rust', title: '外观生锈', width: 80, hide:  isThreeDepart }
                    , { field: 'WrongLabe', title: '标签贴错', width: 80, hide:  isThreeDepart }
                    , { field: 'Resistance', title: '电机阻值', width: 80, hide:  isThreeDepart }
                    , { field: 'Disaccord', title: '电流不一致', width: 100, hide:  isThreeDepart }
                    , { field: 'WrongNumberControl', title: '号码管有误', width: 100, hide:  isThreeDepart}
                    , { field: 'DielectricStrength', title: '介电强度', width: 80, hide:  isThreeDepart }
                    , { field: 'GearBump', title: '齿轮磕碰', width: 80, hide:  isThreeDepart }
                    , { field: 'AbnormalNoise', title: '减速箱异响', width: 100, hide:  isThreeDepart }
                    , { field: 'BearingFailure', title: '轴承损坏', width: 80, hide:  isThreeDepart }
                    , { field: 'InputPort', title: '输入孔', width: 80, hide:  isThreeDepart }
                    , { field: 'OutPort', title: '输出孔', width: 80, hide:  isThreeDepart }
                    , { field: 'MountingFlange', title: '安装法兰', width: 80, hide:  isThreeDepart }
                    , { field: 'InstallKeyway', title: '安装键槽', width: 80, hide:  isThreeDepart }
                    , { field: 'InstallationShaftDiameter', title: '安装轴径', width: 80, hide:  isThreeDepart }
                    , { field: 'InstallTheStop', title: '安装止口', width: 80, hide:  isThreeDepart }
                    , { field: 'BoltCenter', title: '安装孔距', width: 80, hide:  isThreeDepart }
                    , { field: 'NoLoad', title: '空载电流', width: 80, hide:  isThreeDepart }
                    , { field: 'RawMaterial', title: '原材料', width: 80, hide:  isThreeDepart }
                    , { field: 'Contour', title: '外型', width: 80, hide:  isThreeDepart }
                    , { field: '', title: '处置', width: 80, hide:  isThreeDepart }

                    , { field: 'Checker', title: '检验人', width: 100 }
                    , { field: 'Decription', title: '备注', width: 100 }
                    , { fixed: 'right', width: 150, align: 'center', toolbar: '#barDemo' }
                ]]
            });
        }

        //监听头工具事件
        table.on('toolbar(init)', function (obj) {
            if (obj.event === 'outExcel') {
                let orderNo = $("#OrderNo").val().trim();
                let startDate = $("#StartDate").val().trim();
                let endDate = $("#EndDate").val().trim();
                location.href = "/QualityDetail/OutExcel?orderNo=" + orderNo + "&startDate=" + startDate + "&endDate=" + endDate+"";
            }
        });

        //监听行工具事件
        table.on('tool(init)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail')
                location.href = "/QualityDetail/GetModelList?checkRecordId=" + data.Id + "";
        });

        //分页
        laypage.render({
            elem: 'pageDemo' //分页容器的id
            , count: 100 //总页数
            , skin: '#1E9FFF' //自定义选中色值
            , jump: function (obj, first) {
                if (!first)
                    layer.msg('第' + obj.curr + '页', { offset: 'b' });
            }
        });

        //查询
        $('#Query').click(function () {
            tableInit();
        });

        //回车事件绑定
        $("input").bind('keyup', function (event) {
            if (event.keyCode == "13")
                tableInit();
        });
    });
</script>

