@using BILBasic.Common;
@using BILWeb.Quality;
@model T_QualityDetailInfo
@{
    ViewBag.Title = "质检单";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
    PageData<T_QualityDetailInfo> pageData = (PageData<T_QualityDetailInfo>)ViewData["PageData"];
}
<div class="box">
    <div class="layui-card-body layui-table-body layui-table-main">
        <div class="layui-card-body">
            <div class="layui-inline layui-show-xs-block">
                <input id="ErpVoucherNo" class="layui-input" placeholder="ERP单号">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="ErpInVoucherNo" class="layui-input" placeholder="关联单据">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="DateFrom" class="layui-input" placeholder="开始时间">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="DateTo" class="layui-input" placeholder="结束时间">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button id="Query" class="btn btn-primary">
                    查询<i class="layui-icon layui-icon-search" style="padding-left:5px;"></i>
                </button>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button id="Close" class="btn btn-primary">
                    关闭<i class="layui-icon layui-icon-close" style="padding-left:5px;"></i>
                </button>
            </div>
            @Html.HiddenFor(model => model.VoucherType)
        </div>
        <table class="layui-table layui-form" id="qualityTable"></table>
    </div>
</div>

<script src="~/Content/SCG/js/Common/Operate.js"></script>
<script type="text/javascript">

    layui.use(['laydate', 'laypage', 'layer', 'table'], function () {
        table = layui.table
            , laydate = layui.laydate
            , laypage = layui.laypage
            , layer = layui.layer

        //初始化日期控件
        laydate.render({
            elem: '#DateFrom'
        });

        laydate.render({
            elem: '#DateTo'
        });

        tableInit();

        //表格初始化
        function tableInit() {
            table.render({
                elem: '#qualityTable'
                , height: 520
                , url: '/QualityDetail/GetData'
                , method: 'post'
                , contentType: 'application/json'
                , where: {
                    model: {
                        ErpVoucherNo: $("#ErpVoucherNo").val().trim(),
                        ErpInVoucherNo: $("#ErpInVoucherNo").val().trim(),
                        DateFrom: $("#DateFrom").val().trim(),
                        DateTo: $("#DateTo").val().trim()
                    }
                }
                , request: {
                    pageName: 'CurrentPageNumber'
                    , limitName: 'CurrentPageShowCounts'
                }
                , response: {
                    statusCode: 1
                }
                , parseData: function (res) {
                    return {
                        "code": res.Result,
                        "msg": res.ResultValue,
                        "count": res.PageData.totalCount,
                        "data": res.Data
                    };
                }
                , title: '库位'
                , page: true
                , toolbar: 'false'
                //, totalRow: true //开启合计行
                , cols: [[
                    { type: 'numbers', title: '序号', width: 60, fixed: 'left' }
                    , { type: 'checkbox', title: '选择', width: 60, fixed: 'left' }
                    , { field: 'StrongHoldCode', title: '', width: 120, fixed: 'left' }
                    , { field: 'StrongHoldName', title: '', width: 200 }
                    , { field: 'ErpVoucherNo', title: 'Erp单号', width: 220 }
                    , { field: 'QuanQty', title: '', width: 100 }
                    , { field: 'UnQuanQty', title: '', width: 100 }
                    , { field: 'CreateTime', title: '创建时间', width: 200 }
                ]]
            });
        }

        //分页
        laypage.render({
            elem: 'pageDemo'
            , count: 100
            , skin: '#1E9FFF'
            , jump: function (obj, first) {
                if (!first)
                    layer.msg('第' + obj.curr + '页', { offset: 'b' });
            }
        });

        //查询
        $('#Query').click(function () {
            tableInit();
        });

        //关闭
        $("#Close").click(function () {
            if ($('input[type=checkbox]:checked').length != 1) {
                layer.alert("必须选中一行");
                return false;
            }
            if (confirm("确定删除这" + $('input[type=checkbox]:checked').length + "个单据?")) {
                var ID = "";
                $.each($('input:checkbox:checked'), function () {
                    ID = $(this).val();
                });
                $.ajax({
                    type: "POST",
                    url: "CloseQuality?ID=" + ID,
                    date: null,
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        layer.alert(data.obj);
                        if (data.Status) {
                            //window.location.reload();
                        }
                    },
                    fail: function () {
                        layer.alert("提交失败！")
                    }
                });
            }
        })

        //回车事件绑定
        $("input").bind('keyup', function (event) {
            if (event.keyCode == "13")
                tableInit();
        });
    });

</script>