@{
    ViewBag.Title = "质检单";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
}

<style type="text/css">
    .layui-input-block {
        padding-left: 0px;
    }

    .layui-form-label {
        padding-right: 0px;
    }

    .layui-form-item {
        margin-bottom: 0px;
    }
</style>

<div class="box">
    <div style="border-bottom:1px solid black;padding:10px;">
        <span style="font-size:15px;padding-right:10px;">生产订单</span>
        <input id="ErpVoucherNo" placeholder="请输入生产单号" style="padding-left: 5px;height:30px;">
        <button id="Query" class="btn btn-primary">
            查询<i class="layui-icon layui-icon-search" style="padding-left:5px;"></i>
        </button>
        <a class="btn btn-primary" href="/QualityDetail/CheckRecordOut">质检明细</a>
    </div>
    <div style="border-bottom:1px solid black;padding:10px;">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">订单号</label>
                    <div class="layui-input-block">
                        <input type="text" id="orderNo" readonly class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">番号</label>
                    <div class="layui-input-block">
                        <input type="text" id="batchNo" class="layui-input" readonly>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">数据模板</label>
                    <div class="layui-input-block">
                        <input type="text" id="moudle" readonly class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">物料号</label>
                    <div class="layui-input-block">
                        <input type="text" id="materialNo" readonly class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">产线</label>
                    <div class="layui-input-block">
                        <input type="text" id="line" readonly class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">订单数量</label>
                    <div class="layui-input-block">
                        <input type="text" id="qty" readonly class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">已检合格数</label>
                    <div class="layui-input-block">
                        <input type="text" id="alreadyQulaityQty" readonly class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">未检合格数</label>
                    <div class="layui-input-block">
                        <input type="text" id="noQulaityQty" readonly class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">总不合格数</label>
                    <div class="layui-input-block">
                        <input type="text" id="TotalUnqualifiedNumber" readonly class="layui-input">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div style="border-bottom:1px solid black;padding:10px;">
        <form class="layui-form" id="formRecord">
            @if (@ViewBag.StrongHoldCode == "0403")
            {
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">外观掉漆</label>
                        <div class="layui-input-block">
                            <input type="text" name="Sensei" placeholder="请输入外观掉漆" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">外观划伤</label>
                        <div class="layui-input-block">
                            <input type="text" name="Scratch" placeholder="请输入外观划伤" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">外观磕碰伤</label>
                        <div class="layui-input-block">
                            <input type="text" name="Bruise" placeholder="请输入外观磕碰伤" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">外观污迹</label>
                        <div class="layui-input-block">
                            <input type="text" name="Speckle" placeholder="请输入外观污迹" class="layui-input record">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">外观塌边</label>
                        <div class="layui-input-block">
                            <input type="text" name="DownEdge" placeholder="请输入外观塌边" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">外观锈迹</label>
                        <div class="layui-input-block">
                            <input type="text" name="Rust" placeholder="请输入外观锈迹" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">外观漏工序</label>
                        <div class="layui-input-block">
                            <input type="text" name="MissedProcess" placeholder="请输入外观漏工序" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">噪音分贝</label>
                        <div class="layui-input-block">
                            <input type="text" name="Decibel" placeholder="请输入噪音分贝" class="layui-input record">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">噪音打点</label>
                        <div class="layui-input-block">
                            <input type="text" name="Dot" placeholder="请输入噪音打点" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">噪音不一致</label>
                        <div class="layui-input-block">
                            <input type="text" name="Disaccord" placeholder="请输入噪音不一致" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">噪音杂音</label>
                        <div class="layui-input-block">
                            <input type="text" name="Noise" placeholder="请输入噪音杂音" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">卡点卡顿</label>
                        <div class="layui-input-block">
                            <input type="text" name="CardPoint" placeholder="请输入卡点卡顿" class="layui-input record">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">运转轴紧</label>
                        <div class="layui-input-block">
                            <input type="text" name="ShaftTight" placeholder="请输入运转轴紧" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">运转抖动</label>
                        <div class="layui-input-block">
                            <input type="text" name="Shake" placeholder="请输入运转抖动" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">输出尺寸</label>
                        <div class="layui-input-block">
                            <input type="text" name="OutputSize" placeholder="请输入输出尺寸" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">输入尺寸</label>
                        <div class="layui-input-block">
                            <input type="text" name="InPutSize" placeholder="请输入输入尺寸" class="layui-input record">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">装配漏装</label>
                        <div class="layui-input-block">
                            <input type="text" name="NeglectedLoading" placeholder="请输入装配漏装" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">装配不到位</label>
                        <div class="layui-input-block">
                            <input type="text" name="NotInPlace" placeholder="请输入装配不到位" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">其他原因</label>
                        <div class="layui-input-block">
                            <input type="text" name="Others" placeholder="请输入其他原因" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">精度弧分</label>
                        <div class="layui-input-block">
                            <input type="text" name="Minute" placeholder="请输入精度弧分" class="layui-input record">
                        </div>
                    </div>
                </div>
            }
            else if (@ViewBag.StrongHoldCode == "0401" || @ViewBag.StrongHoldCode == "0402")
            {
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">外观掉漆</label>
                        <div class="layui-input-block">
                            <input type="text" name="Sensei" placeholder="请输入外观掉漆" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">外观碰划伤</label>
                        <div class="layui-input-block">
                            <input type="text" name="Scratch" placeholder="请输入外观碰划伤" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">外观氧化</label>
                        <div class="layui-input-block">
                            <input type="text" name="Burning" placeholder="请输入外观氧化" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">外观生锈</label>
                        <div class="layui-input-block">
                            <input type="text" name="Rust" placeholder="请输入外观生锈" class="layui-input record">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">标签贴错</label>
                        <div class="layui-input-block">
                            <input type="text" name="WrongLabe" placeholder="请输入标签贴错" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">电机阻值</label>
                        <div class="layui-input-block">
                            <input type="text" name="Resistance" placeholder="请输入电机阻值" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">电流不一致</label>
                        <div class="layui-input-block">
                            <input type="text" name="Disaccord" placeholder="请输入电流不一致" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">号码管有误</label>
                        <div class="layui-input-block">
                            <input type="text" name="WrongNumberControl" placeholder="请输入号码管有误" class="layui-input record">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">介电强度</label>
                        <div class="layui-input-block">
                            <input type="text" name="DielectricStrength" placeholder="请输入介电强度" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">齿轮磕碰</label>
                        <div class="layui-input-block">
                            <input type="text" name="GearBump" placeholder="请输入齿轮磕碰" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">减速箱异响</label>
                        <div class="layui-input-block">
                            <input type="text" name="AbnormalNoise" placeholder="请输入减速箱异响" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">轴承损坏</label>
                        <div class="layui-input-block">
                            <input type="text" name="BearingFailure" placeholder="请输入轴承损坏" class="layui-input record">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">输入孔</label>
                        <div class="layui-input-block">
                            <input type="text" name="InputPort" placeholder="请输入输入孔" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">输出孔</label>
                        <div class="layui-input-block">
                            <input type="text" name="OutPort" placeholder="请输入输出孔" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">安装法兰</label>
                        <div class="layui-input-block">
                            <input type="text" name="MountingFlange" placeholder="请输入安装法兰" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">安装键槽</label>
                        <div class="layui-input-block">
                            <input type="text" name="InstallKeyway" placeholder="请输入安装键槽" class="layui-input record">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">安装轴径</label>
                        <div class="layui-input-block">
                            <input type="text" name="InstallationShaftDiameter" placeholder="请输入安装轴径" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">安装止口</label>
                        <div class="layui-input-block">
                            <input type="text" name="InstallTheStop" placeholder="请输入安装止口" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">安装孔距</label>
                        <div class="layui-input-block">
                            <input type="text" name="BoltCenter" placeholder="请输入安装孔距" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">空载电流</label>
                        <div class="layui-input-block">
                            <input type="text" name="NoLoad" placeholder="请输入空载电流" class="layui-input record">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">原材料</label>
                        <div class="layui-input-block">
                            <input type="text" name="RawMaterial" placeholder="请输入原材料" class="layui-input record">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">外型</label>
                        <div class="layui-input-block">
                            <input type="text" name="Contour" placeholder="请输入外型" class="layui-input record">
                        </div>
                    </div>
                </div>
            }
        </form>
    </div>
    <div style="padding:10px;">
        <div style="padding-bottom:10px;">
            <span style="padding-right:20px;">合格数量</span>
            <input id="QualityQty" type="number" style="height:30px;padding-left:5px;" placeholder="请输入合格数量">
            <span style="padding-right:20px;padding-left:40px;">不合格数量</span>
            <input id="UnQualityQty" type="number" style="height:30px;padding-left:5px;" placeholder="请输入不合格数量">
        </div>
        <div>
            <div class="layui-row">
                <div class="layui-col-md4">
                    <div div class="layui-row">
                        <div class="layui-col-md2" style="padding-top:6px;">备注</div>
                        <div class="layui-col-md10">
                            <input type="text" id="remark" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-col-md4" style="padding-left:45px;">
                    <button class="btn btn-primary" id="ok">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {

        //初始化input下拉选项
        var availableTags;
        $.post("/QualityDetail/GetRemarks", function (data) {
            if (data != null) {
                availableTags = new Array(data.length);
                for (let i = 0; i < data.length; i++) {
                    availableTags[i] = data[i];
                }
            }
            else {
                availableTags = null;
            }
            $("#remark").autocomplete({
                source: availableTags
            });
        });

        //生产单号回车监听事件
        var objOrder;
        $("#ErpVoucherNo").keypress(function (even) {
            if (even.which == 13 && $("#ErpVoucherNo").val() != "") {
                $.post("/QualityDetail/GetModel", { orderNo: $("#ErpVoucherNo").val() }, function (data) {
                    objOrder = data;
                    $("#orderNo").val(data.product.ErpVoucherNo);
                    $("#batchNo").val(data.product.BatchNo);
                    $("#moudle").val("");
                    $("#materialNo").val(data.product.MaterialNo);
                    $("#line").val(data.product.LineName);
                    $("#qty").val(data.product.ProductQty);
                    $("#alreadyQulaityQty").val(data.product.QulityQty);
                    $("#noQulaityQty").val(data.product.NoQualityQty);
                    $("#QualityQty").val(data.product.QulityQty);
                    $("#TotalUnqualifiedNumber").val(data.record.TotalUnqualifiedNumber);
                    $("#remark").val(data.product.Remark);

                    //赋值checkrecord表单
                    if (data.record != null) {
                        $(".record").each(function () {
                            let keyArray = Object.keys(data.record);
                            let valueArray = Object.values(data.record);
                            for (let i = 0; i < keyArray.length; i++) {
                                if ($(this).attr("name") == keyArray[i]) {
                                    $(this).val(valueArray[i]);
                                    break;
                                }
                            }
                        });
                    }
                });
            }
        });

        //查询
        $("#Query").click(function () {
            $.post("/QualityDetail/GetModel", { orderNo: $("#ErpVoucherNo").val() }, function (data) {
                objOrder = data;
                $("#orderNo").val(data.product.ErpVoucherNo);
                $("#batchNo").val(data.product.BatchNo);
                $("#moudle").val("");
                $("#materialNo").val(data.product.MaterialNo);
                $("#line").val(data.product.LineName);
                $("#qty").val(data.product.ProductQty);
                $("#alreadyQulaityQty").val(data.product.QulityQty);
                $("#noQulaityQty").val(data.product.NoQualityQty);
                $("#QualityQty").val(data.product.QulityQty);
                $("#TotalUnqualifiedNumber").val(data.record.TotalUnqualifiedNumber);
                $("#remark").val(data.product.Remark);

                //赋值checkrecord表单
                if (data.record != null) {
                    $(".record").each(function () {
                        let keyArray = Object.keys(data.record);
                        let valueArray = Object.values(data.record);
                        for (let i = 0; i < keyArray.length; i++) {
                            if ($(this).attr("name") == keyArray[i]) {
                                $(this).val(valueArray[i]);
                                break;
                            }
                        }
                    });
                }
            });
        })

        //确定
        $("#ok").click(function () {
            if ($("#ErpVoucherNo").val() == "") {
                layer.alert("生产订单号不能为空!");
                return false;
            }
            if ($("#QualityQty").val() == "") {
                layer.alert("合格数量不能为空!");
                return false;
            }
            if (objOrder == null || objOrder == "") {
                layer.alert("请先输入查询订单获取订单数据,再提交!");
                return false;
            }
            if (Number($("#QualityQty").val()) + Number(objOrder.product.QulityQty) > Number(objOrder.product.ProductQty)) {
                layer.alert("合格数量不能大于订单数量!");
                return false;
            }
            $.post("/QualityDetail/Submit",
                {
                    formJson: formSerialize($('#formRecord').serializeArray()),
                    orderId: objOrder.product.id,
                    qualityQty: $("#QualityQty").val(),
                    remark: $("#remark").val(),
                    unQualityQty: $("#UnQualityQty").val()
                },
                function (data) {
                    layer.alert(data.Msg);
                    if (data.Success) {
                        $.each($("input"), function (item, index) {
                            $(this).val("");
                        });
                    }
                });
        });
    });

    //表单序列化
    function formSerialize(t) {
        let formData = {};
        $.each(t, function () {
            formData[this.name] = this.value;
        });
        return JSON.stringify(formData);
    }
</script>