@using SqlSugarDAL.wareHouse
@model List<T_WAREHOUSE>
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
}
<div style="padding:10px;">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">仓库</label>
            <div class="layui-input-block">
                <select name="HouseNo" lay-verify="required" lay-search>
                    @foreach (var item in Model)
                    {
                        <option value="@item.WAREHOUSENO">@item.WAREHOUSENO</option>
                    }
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">看板类型</label>
            <div class="layui-input-block">
                <select name="OrderType" lay-verify="required" lay-search>
                    <option value="0">出货单看板</option>
                    <option value="1">形态转换看板</option>
                    <option value="2">测试1</option>
                    <option value="3">测试2</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
                <button type="reset" id="cancle" class="layui-btn layui-btn-primary">取消</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    layui.use(['form'], function () {
        var form = layui.form;

        //提交
        form.on('submit(formDemo)', function (data) {
            let setting = data.field;
            $.post("/Setting/Submit", setting, function (res) {
                layer.alert(res.Msg);
                if (!res.Success)
                    return false;
                $("#cancle").click();
                parent.$("#refresh").click();
            });
            return false;
        });

        //取消
        $("#cancle").click(function () {
            let index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });
    });
</script>


