@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
}

<table class="layui-hide" id="settingTable" lay-filter="init"></table>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">添加看板地址</button>
    </div>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="delete">删除</a>
</script>

<script type="text/javascript">

    layui.use(['laypage', 'layer', 'table'], function () {
        table = layui.table
            , laypage = layui.laypage
            , layer = layui.layer

        tableInit();

        //表格初始化
        function tableInit() {
            table.render({
                elem: '#settingTable'
                , height: 520
                , url: '/Setting/List'
                , method: 'post'
                , contentType: 'application/json'
                , where: {}
                , toolbar:"#toolbarDemo"
                , response: {
                    statusCode: 1
                }
                , parseData: function (res) {
                    return {
                        "code": res.Result,
                        "msg": res.ResultValue,
                        "count": res.PageData.totalCount,
                        "data": res.Data
                    };
                }
                , title: '设置信息'
                , page: true
                , cols: [
                    [
                        { type: 'PalletUrl', title: '看板地址', width: 200, fixed: 'left' }
                        , { field: 'Creater', title: '创建人', width: 120, }
                        , { field: 'CreateTimeString', title: '创建时间', width: 150, }
                        , { field: 'Updater', title: '修改人', width: 120, }
                        , { field: 'UpdateTimeString', title: '修改时间', width: 150, }
                        , { fixed: 'right', title: '操作', width: 200, align: 'center', toolbar: '#barDemo' }
                    ]
                ]
            });
        }

        //监听头工具条
        table.on('toolbar(init)', function (obj) {
            if (obj.event == "add") {
                layer.open({
                    type: 2,
                    title: "设置信息新增",
                    area: ['45%', '50%'],
                    content: "/Setting/Form"
                });
            }
        });

        //监听行工具事件
        table.on('tool(init)', function (obj) {
            var data = obj.data, event = obj.event;
            if (event === 'detail') {//查看
                layer.open({
                    type: 2,
                    title: "设置信息编辑",
                    area: ['45%', '50%'],
                    content: "/Setting/Form",
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body', index);
                        //初始化表单数据的值
                        let keyArray = Object.keys(data);
                        let valueArray = Object.values(data);
                        $.each(body.find(".layui-input"), function (index, item) {
                            for (let i = 0; i < keyArray.length; i++) {
                                if ($(item).attr("name") == keyArray[i]) {
                                    $(item).val(valueArray[i]);
                                    break;
                                }
                            }
                        });
                        body.find("#setting").val(JSON.stringify(data));
                    }
                });
                return false;
            }
            if (event === 'delete') {
                layer.confirm('确认删除该设置信息吗?', function (index) {
                    layer.close(index);
                    $.post("/Setting/DeleteSave", data, function (res) {
                        if (!res.Success) {
                            layer.alert(res.Msg);
                            return false;
                        }
                        obj.del();
                    });
                });
            }
        });

        //分页
        laypage.render({
            elem: 'pageDemo'
            , count: 100
            , skin: '#1E9FFF'
            , jump: function (obj, first) {
                if (!first)
                    layer.msg('第' + obj.curr + '页', { offset: 'b' });
            }
        });
    });
</script>

