@using BILBasic.Common;
@using Web.WMS.Common;
@{

    ViewBag.Title = "内盒明细";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
    var printIP = System.Web.HttpContext.Current.Session["printIP"];
}
<style type="text/css">
    .layui-container {
        width: 100% !important;
    }

    .marginleft {
        margin-left: 20px;
        font-size: 16px;
    }
</style>
<input type="hidden" id="printIP" value="@printIP" />
<div class="box">
    <div class="layui-card-body layui-table-body layui-table-main">
        <div class="layui-card-body">

            <div class="layui-inline layui-show-xs-block">
                <input id="ErpVoucherNo" class="layui-input" placeholder="ERP单号">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="MaterialNo" class="layui-input" placeholder="本体物料编号">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="MaterialName" class="layui-input" placeholder="本体物料名称">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="HeadMaterialNo" class="layui-input" placeholder="外箱物料编号">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="HeadMaterialName" class="layui-input" placeholder="外箱物料名称">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button id="Query" class="btn btn-primary">
                    查询<i class="layui-icon layui-icon-search" style="padding-left:5px;"></i>
                </button>
            </div>
        </div>
        <table class="layui-hide" id="productOrderTable" lay-filter="init"></table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        </script>
    </div>

    <div class="layui-card-body layui-table-body layui-table-main">
        <div class="layui-card-body" style="padding:2px 2px;">
            <input type="hidden" id="Rowno" name="Rowno" />
            <div class="layui-inline">
                <label class="layui-form-label lab100">物料编码</label>
                <div class="layui-input-inline">
                    <input type="text" id="Materialno1" name="Materialno1" autocomplete="off" class="layui-input txt200" readonly="readonly">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label lab100">物料描述</label>
                <div class="layui-input-inline">
                    <input type="text" id="MaterialName1" autocomplete="off" class="layui-input txt200" readonly="readonly">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label lab100"></label>
                <div class="layui-input-inline">
                    @Html.DropDownList("BarcodeType", Commom.BarcodeType as IEnumerable<SelectListItem>, new { htmlAttributes = new { @class = "form-control " } })
                </div>
            </div>
        </div>
        <div class="layui-card-body" style="padding:2px 2px;">
            <div class="layui-inline">
                <label class="layui-form-label lab100">打印数量</label>
                <div class="layui-input-inline">
                    <input type="number" id="ProductQty" autocomplete="off" class="layui-input txt200">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label lab100">包装量</label>
                <div class="layui-input-inline">
                    <input type="number" id="PackQty" autocomplete="off" class="layui-input txt200">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label lab100">打印张数</label>
                <div class="layui-input-inline">
                    <input type="number" id="qty" autocomplete="off" class="layui-input txt200">
                </div>
            </div>
            <div class="layui-inline" style="margin-left:60px;">
                <button id="Print" class="btn btn-primary" style="margin-top: -15px;">打 印</button>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['laydate', 'laypage', 'layer', 'table'], function () {
        table = layui.table
            , laypage = layui.laypage
            , layer = layui.layer

        tableInit();

        //表格初始化
        function tableInit() {
            table.render({
                elem: '#productOrderTable'
                , height: 450
                , url: '/ProductOrders/GetData'
                , method: 'post'
                , contentType: 'application/json'
                , where: {
                    model: {
                        ErpVoucherNo: $("#ErpVoucherNo").val().trim(),
                        MaterialNo: $("#MaterialNo").val().trim(),
                        MaterialName: $("#MaterialName").val().trim(),
                        HeadMaterialNo: $("#HeadMaterialNo").val().trim(),
                        HeadMaterialName: $("#HeadMaterialName").val().trim()
                    }
                }
                , request: {
                    pageName: 'CurrentPageNumber'
                    , limitName: 'CurrentPageShowCounts'
                }
                , response: {
                    statusCode: 1
                }
                , parseData: function (res) {
                    return {
                        "code": res.Result,
                        "msg": res.ResultValue,
                        "count": res.PageData.totalCount,
                        "data": res.Data
                    };
                }
                , title: '库位'
                , page: true
                , toolbar: false
                , totalRow: false //开启合计行
                , cols: [
                    [
                        { type: 'numbers', title: '序号', width: 60, fixed: 'left' }

                        , { field: 'ErpVoucherNo', title: '生产订单号', width: 120, fixed: 'left' }
                        , { field: 'HeadMaterialNo', title: '外箱物料编号', width: 120, fixed: 'left' }
                        , { field: 'HeadMaterialName', title: '外箱物料名称', width: 200 }
                        , { field: 'HeadSpec', title: '外箱物料规格', width: 200 }
                        , { field: 'MaterialNo', title: '物料号', width: 200 }
                        , { field: 'MaterialName', title: '物料名称', width: 200 }
                        , { field: 'Spec', title: '物料规格', width: 200 }
                        , { field: 'BatchNo', title: '番号', width: 200 }
                        , { field: 'ProductQty', title: '订单数量', width: 80 }
                        , { fixed: 'right', width: 150, align: 'center', toolbar: '#barDemo' }
                    ]
                ]
            });
        }

        var PurObject;
        //监听行工具事件
        table.on('tool(init)', function (obj) {
            PurObject = obj.data;
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'edit') {
                if ($("#stampType").val() == "0") {
                    $('#Materialno1').val(data.HeadMaterialNo);
                    $('#MaterialName1').val(data.HeadMaterialName);
                    $("#PackQty").val(data.PackQty);
                    return false;
                }
                $('#Materialno1').val(data.MaterialNo);
                $('#MaterialName1').val(data.MaterialName);
            }
        });

        //分页
        laypage.render({
            elem: 'pageDemo'
            , count: 100
            , skin: '#1E9FFF'
            , jump: function (obj, first) {
                if (!first)
                    layer.msg('第' + obj.curr + '页', { offset: 'b' });
            }
        });

        //打印类型下拉框改变事件
        $("#BarcodeType").change(function () {
            if ($("#BarcodeType").val() == "0") {//外箱
                $("#qty").val("");
                $("#qty").attr('disabled', 'disabled');
                $("#ProductQty").removeAttr('disabled');
                $("#PackQty").removeAttr('disabled');
            } else {
                $("#qty").removeAttr('disabled');
                $("#ProductQty").val("");
                $("#ProductQty").attr('disabled', 'disabled');
                $("#PackQty").val("");
                $("#PackQty").attr('disabled', 'disabled');
            }
        });

        //查询
        $('#Query').click(function () {
            tableInit();
        });

        //打印
        $('#Print').click(function () {
            if (PurObject == null) {
                layer.alert("请先编辑行,再进行打印!");
                return false;
            }
            if ($('#BarcodeType').val() == "0") {
                if ($('#ProductQty').val() == "") {
                    layer.alert("打印数量不能为空!");
                    return false;
                }
                PurObject.ProductQty = Number($('#ProductQty').val());
                PurObject.PackQty = Number($('#PackQty').val());
                $.post("/PrintIn/SaveBarcodePro", { data: JSON.stringify(PurObject) }, function (msg) {
                    if (msg.state) {
                        openPostWindow($("#printIP").val() + "Main.aspx", "stock", msg.obj);
                        return false;
                    }
                    layer.alert(msg.ResultValue);
                });
            } else {
                PurObject.PrintQty = $('#qty').val();
                openPostWindow($("#printIP").val() + "Main.aspx", "quality", JSON.stringify(PurObject));
            }

        });

        //回车事件绑定
        $("input").bind('keyup', function (event) {
            if (event.keyCode == "13")
                tableInit();
        });
    });

    $(function () {
        $("#qty").removeAttr('disabled');
        $("#ProductQty").attr('disabled', 'disabled');
        $("#PackQty").attr('disabled', 'disabled');
    });

    function openPostWindow(url, keys, values) {
        var newWindow = window.open(url, name);
        if (!newWindow)
            return false;
        var html = "";
        html += "<html><head></head><body><form id='formid' method='post' action='" + url + "'>";
        if (keys && values) {
            html += "<input type='hidden' name='" + keys + "' value='" + values + "'/>";
        }
        html += "</form><script type='text/javascript'>document.getElementById('formid').submit();";
        html += "<\/script></body></html>".toString().replace(/^.+?\*|\\(?=\/)|\*.+?$/gi, "");
        newWindow.document.write(html);
        return newWindow;
    };
</script>









