@{
    ViewBag.Title = "内盒明细";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
}
<style type="text/css">
    .layui-container {
        width: 100% !important;
    }

    .marginleft {
        margin-left: 20px;
        font-size: 16px;
    }
</style>

<div class="box">
    <div class="layui-card-body layui-table-body layui-table-main">
        <div class="layui-card-body">
            <div class="layui-inline layui-show-xs-block">
                <input id="MaterialNo" class="layui-input" placeholder="物料编号">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="MaterialName" class="layui-input" placeholder="物料名称">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="HeadMaterialNo" class="layui-input" placeholder="外箱物料编号">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="HeadMaterialName" class="layui-input" placeholder="外箱物料名称">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <select id="PrintType" lay-verify="required">
                    <option value="0">内盒打印</option>
                    <option value="1">本体打印</option>
                </select>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <select id="sizeType" lay-verify="required">
                    <option value="0">尺寸1</option>
                    <option value="1">尺寸2</option>
                </select>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button id="Query" class="btn btn-primary">
                    查询<i class="layui-icon layui-icon-search" style="padding-left:5px;"></i>
                </button>
            </div>
        </div>
        <table class="layui-hide" id="productOrderTable" lay-filter="init"></table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        </script>
    </div>

    <div class="layui-card-body layui-table-body layui-table-main">
        <div class="layui-card-body" style="padding:2px 2px;">
            <input type="hidden" id="Rowno" name="Rowno" />
            <div class="layui-inline">
                <label class="layui-form-label lab100">物料编码</label>
                <div class="layui-input-inline">
                    <input type="text" id="Materialno1" name="Materialno1" autocomplete="off" class="layui-input txt200" readonly="readonly">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label lab100">物料描述</label>
                <div class="layui-input-inline">
                    <input type="text" id="MaterialName1" autocomplete="off" class="layui-input txt200" readonly="readonly">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label lab100">数量</label>
                <div class="layui-input-inline">
                    <input type="number" id="qty" autocomplete="off" class="layui-input txt200">
                </div>
            </div>
            <div class="layui-inline" style="margin-left:60px;">
                <button id="Print" class="btn btn-primary" style="margin-top: -15px;">打 印</button>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['laydate', 'laypage', 'layer', 'table'], function () {
        table = layui.table
            , laypage = layui.laypage
            , layer = layui.layer

        tableInit();

        //表格初始化
        function tableInit() {
            table.render({
                elem: '#productOrderTable'
                , height: 450
                , url: '/ProductOrders/GetData'
                , method: 'post'
                , contentType: 'application/json'
                , where: {
                    model: {
                        MaterialNo: $("#MaterialNo").val().trim(),
                        MaterialName: $("#MaterialName").val().trim(),
                        HeadMaterialNo: $("#HeadMaterialNo").val().trim(),
                        HeadMaterialName: $("#HeadMaterialName").val().trim()
                    }
                }
                , request: {
                    pageName: 'CurrentPageNumber'
                    , limitName: 'CurrentPageShowCounts'
                }
                , response: {
                    statusCode: 1
                }
                , parseData: function (res) {
                    return {
                        "code": res.Result,
                        "msg": res.ResultValue,
                        "count": res.PageData.totalCount,
                        "data": res.Data
                    };
                }
                , title: '库位'
                , page: true
                , toolbar: false
                , totalRow: false //开启合计行
                , cols: [
                    [
                        { type: 'numbers', title: '序号', width: 60, fixed: 'left' }
                        , { field: 'HeadMaterialNo', title: '外箱物料编号', width: 120, fixed: 'left' }
                        , { field: 'HeadMaterialName', title: '外箱物料名称', width: 200 }
                        , { field: 'HeadSpec', title: '外箱物料规格', width: 200 }
                        , { field: 'MaterialNo', title: '物料号', width: 200, sort: true }
                        , { field: 'MaterialName', title: '物料名称', width: 200 }
                        , { field: 'Spec', title: '物料规格', width: 200 }
                        , { field: 'Qty', title: '物料数量', width: 80 }
                        , { fixed: 'right', width: 150, align: 'center', toolbar: '#barDemo' }
                    ]
                ]
            });
        }

        var PurObject;
        //监听行工具事件
        table.on('tool(init)', function (obj) {
            PurObject = obj.data;
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'edit') {
                if ($("#stampType").val() == "0") {
                    $('#Materialno1').val(data.HeadMaterialNo);
                    $('#MaterialName1').val(data.HeadMaterialName);
                    return false;
                }
                $('#Materialno1').val(data.MaterialNo);
                $('#MaterialName1').val(data.MaterialName);
            }
        });

        //分页
        laypage.render({
            elem: 'pageDemo'
            , count: 100
            , skin: '#1E9FFF'
            , jump: function (obj, first) {
                if (!first)
                    layer.msg('第' + obj.curr + '页', { offset: 'b' });
            }
        });

        //查询
        $('#Query').click(function () {
            tableInit();
        });

        //打印
        $('#Print').click(function () {
            if (PurObject == null) {
                layer.alert("请先编辑行,再进行打印!");
                return false;
            }
            if ($('#qty').val() == "") {
                layer.alert("打印张数不能为空!");
                return false;
            }
            PurObject.PrintType = $("#printType").val();
            PurObject.SizeType = $("#sizeType").val();
            console.log(JSON.stringify(PurObject));
            openPostWindow($("#printIP").val() + "/Main.aspx", "quality", JSON.stringify(PurObject));
        })

        //回车事件绑定
        $("input").bind('keyup', function (event) {
            if (event.keyCode == "13")
                tableInit();
        });
    });

    function openPostWindow(url, data, name) {
        var formStr = '<form style="visibility:hidden;" method="POST" action="' + url + '">' +
            '<input type="hidden" name="' + name + '" value="' + encodeURI(data) + '" />' +
            '</form>';
        var win = window.open("");
        win.document.body.innerHTML = formStr;
        win.document.forms[0].submit();
    };
</script>









