@{
    ViewBag.Title = "库存合并";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
}

<div class="box">
    <div class="layui-card-body layui-table-body layui-table-main">
        <div class="layui-card-body">
            <div class="layui-inline layui-show-xs-block">
                <input id="MaterialNo" class="layui-input" placeholder="物料编号">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="MaterialDesc" class="layui-input" placeholder="物料名">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="WarehouseNo" class="layui-input" placeholder="仓库编码">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="HouseNo" class="layui-input" placeholder="库区编码">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="AreaNo" class="layui-input" placeholder="货位编码">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <input id="BatchNo" class="layui-input" placeholder="批次号">
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button id="Query" class="btn btn-primary">
                    查询<i class="layui-icon layui-icon-search" style="padding-left:5px;"></i>
                </button>
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button id="OutExcel" class="btn btn-primary">
                    导出<i class="layui-icon layui-icon-release" style="padding-left:5px;"></i>
                </button>
            </div>
        </div>
        <table class="layui-hide" id="combineTable" lay-filter="init"></table>
    </div>
</div>

<script>

    layui.use(['laypage', 'layer', 'table'], function () {
        table = layui.table
            , laypage = layui.laypage
            , layer = layui.layer

        //tableInit();

        //表格初始化
        function tableInit() {
            table.render({
                elem: '#combineTable'
                , height: 550
                , url: '/StockCombine/GetData'
                , method: 'post'
                , contentType: 'application/json'
                , where: {
                    model: {
                        MaterialNo: $("#MaterialNo").val().trim(),
                        MaterialDesc: $("#MaterialDesc").val().trim(),
                        WarehouseNo: $("#WarehouseNo").val().trim(),
                        HouseNo: $("#HouseNo").val().trim(),
                        AreaNo: $("#AreaNo").val().trim(),
                        BatchNo: $("#BatchNo").val().trim()
                    }
                }
                , request: {
                    pageName: 'CurrentPageNumber'
                    , limitName: 'CurrentPageShowCounts'
                }
                , title: '库存合并明细'
                , page: true
                , totalRow: true //开启合计行
                , limits: [100, 200, 500, 1000]
                , limit: 100 //每页默认显示的数量
                , cols: [
                    [
                        { type: 'numbers', title: '序号', width: 60, fixed: 'left' }
                        , { field: 'MaterialNo', title: '物料号', width: 150 }
                        , { field: 'Spec', title: '物料规格', width: 200 }
                        , { field: 'BatchNo', title: '批次', width: 140, sort: false, totalRowText: '合计汇总:' }
                        , { field: 'Qty', title: '数量', width: 100, sort: true, totalRow: true }
                        , { field: 'AreaNo', title: '库位', width: 100, sort: false }
                        , { field: 'HouseNo', title: '库区', width: 100, sort: true }
                        , { field: 'WarehouseNo', title: '仓库', width: 140, sort: false }
                    ]
                ]
                , response: {
                    statusCode: 1
                }
                , parseData: function (res) {
                    return {
                        "code": res.Result,
                        "msg": res.ResultValue,
                        "count": res.PageData.totalCount,
                        "data": res.Data
                    };
                }
            });
        }

        //分页
        laypage.render({
            elem: 'pageDemo' //分页容器的id
            , count: 100 //总页数
            , skin: '#1E9FFF' //自定义选中色值
            , jump: function (obj, first) {
                if (!first) {
                    layer.msg('第' + obj.curr + '页', { offset: 'b' });
                }
            }
        });

        //查询
        $('#Query').click(function () {
            tableInit();
        });

        //导出
        $("#OutExcel").click(function () {
            let model = {
                MaterialNo: $("#MaterialNo").val().trim(),
                MaterialDesc: $("#MaterialDesc").val().trim(),
                WarehouseNo: $("#WarehouseNo").val().trim(),
                HouseNo: $("#HouseNo").val().trim(),
                AreaNo: $("#AreaNo").val().trim(),
                BatchNo: $("#BatchNo").val().trim()
            };
            location.href = "/StockCombine/Excel?jsonString=" + JSON.stringify(model) + "";
        });

        //回车事件绑定
        $("input").bind('keyup', function (event) {
            if (event.keyCode == "13") {
                tableInit();
            }
        });
    });

</script>


