
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
}
<div style="margin:20px auto 10px 10px;">
    生产订单<input type="text" id="ErpVoucherNo" />
</div>
<div style="margin:0px auto 10px 10px;">
    <div class="layui-row">
        <div class="layui-col-md4">
            物料编号<input type="text" id="materialNo" readonly />
        </div>
        <div class="layui-col-md4">
            产线<input type="text" id="line" readonly />
        </div>
        <div class="layui-col-md4">
            工序<input type="text" id="procedure" readonly />
        </div>
    </div>
</div>
<div id="handout_wrap_inner"></div>

<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
<script src="~/Content/jquery.media.js"></script>
<script type="text/javascript">
    $(function () {

        //生产单号回车监听事件
        $("#ErpVoucherNo").keypress(function (even) {
            if (even.which == 13 && $("#ErpVoucherNo").val() != "") {
                let sendJson = { ErpVoucherNo: $("#ErpVoucherNo").val(), ipAddress: returnCitySN.cip };
                $.post("/SeePallet/PdfInit", sendJson, function (res) {
                    if (!res.Success) {
                        layer.alert(res.Msg);
                        return false;
                    }
                    //显示生产订单信息
                    $("#materialNo").val(res.productOrder.HeadMaterialNo);
                    $("#line").val(res.productOrder.LineName);
                    $("#procedure").val("");

                    //显示pdf文件
                    $('#handout_wrap_inner').media({
                        width: '100%',
                        height: '550',
                        autoplay: true,
                        src: res.Data.pdfAddress
                    });
                });
            }
        });
    });
</script>
