@{
    ViewBag.Title = "期初打印";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
    var Path = ViewData["Path"] == null ? null : (String)ViewData["Path"];
    var printIP = System.Web.HttpContext.Current.Session["printIP"];
}

<input type="hidden" value="@Path" id="Path" />
<input type="hidden" id="printIP" value="@printIP" />

<div style="margin-left:20px;margin-top:20px;">
    <form class="layui-form" method="post" enctype="multipart/form-data" action="/PrintFirst/ImportExcel">
        <div class="layui-form-item">
            <div class="layui-inline">
                <input name="file" type="file" id="file" />
            </div>
        </div>
        <div class="layui-form-item" style="margin-bottom:0px;">
            <div class="layui-inline">
                <input type="submit" class="btn btn-primary" value="导 入">
            </div>
        </div>
    </form>

</div>
<table class="layui-hide" id="printFirstTable" lay-filter="test"></table>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="print">打印</button>
    </div>
</script>

<script type="text/javascript">
    layui.use(['laypage', 'layer', 'table'], function () {
        laypage = layui.laypage
            , layer = layui.layer
            , table = layui.table

        //table初始化
        var renderTable = function () {
            table.render({
                elem: '#printFirstTable'
                , height: 450
                , url: '/PrintFirst/GetData'
                , method: 'post'
                , contentType: 'application/json'
                , where: {
                    path: $("#Path").val()
                }
                , title: '导入明细'
                , page: false
                , toolbar: '#toolbarDemo'
                , totalRow: false
                , cols: [[
                    { type: 'checkbox', fixed: 'left' },
                    { field: 'MaterialNo', title: '物料号', width: 120 },
                    { field: 'MaterialDesc', title: '物料描述', width: 120 },
                    { field: 'spec', title: '规格', width: 120 },
                    { field: 'StoreCondition', title: '客户型号', width: 120 },
                    { field: 'BatchNo', title: '番号', width: 120 },
                    { field: 'ProductBatch', title: '转换后番号', width: 120 },
                    { field: 'StrongHoldCode', title: '组织', width: 120 },
                    { field: 'warehouseno', title: '仓库编码', width: 120 },
                    { field: 'warehousename', title: '仓库名称', width: 120 },
                    { field: 'department', title: '部门编码', width: 120 },
                    { field: 'departmentname', title: '部门名称', width: 120 },
                    { field: 'CusCode', title: '客户编码', width: 120 },
                    { field: 'CusName', title: '客户简称', width: 120 },
                    { field: 'ProtectWay', title: '单据类型', width: 120 },
                    { field: 'LABELMARK', title: '客户订单号', width: 120 },
                    { field: 'Qty', title: '数量', width: 120 },
                    { field: 'Unit', title: '单位', width: 120 },
                    { field: 'InnerPackQty', title: '包装量', width: 120 },
                ]]
                , response: {
                    statusCode: 1
                }
                , parseData: function (res) {
                    return {
                        "code": res.Result,
                        "msg": res.ResultValue,
                        //"count": res.PageData.totalCount,
                        "data": res.Data
                    };
                }
            });
        }

        //分页
        laypage.render({
            elem: 'pageDemo'
            , count: 100
            , skin: '#1E9FFF'
            , jump: function (obj, first) {
                if (!first)
                    layer.msg('第' + obj.curr + '页', { offset: 'b' });
            }
        });

        renderTable();

        //监听头工具栏事件
        table.on('toolbar(test)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id)
                , data = checkStatus.data; //获取选中的数据
            if (obj.event == "print") {
                $.post("/PrintFirst/Print", { data: JSON.stringify(data) }, function (msg) {
                    if (!msg.Success) {
                        layer.alert(msg.Msg);
                        return false;
                    }
                    openPostWindow($("#printIP").val() + "Main.aspx", "stock", msg.Data);
                });
            };
        });
    });

    function openPostWindow(url, keys, values) {
        var newWindow = window.open(url, name);
        if (!newWindow)
            return false;
        var html = "";
        html += "<html><head></head><body><form id='formid' method='post' action='" + url + "'>";
        if (keys && values) {
            html += "<input type='hidden' name='" + keys + "' value='" + values + "'/>";
        }
        html += "</form><script type='text/javascript'>document.getElementById('formid').submit();";
        html += "<\/script></body></html>".toString().replace(/^.+?\*|\\(?=\/)|\*.+?$/gi, "");
        newWindow.document.write(html);
        return newWindow;
    };

</script>
